<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angularspa</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
  </head>
  <body ng-app="sportSystemApp"  ng-controller="initCtrl">

   <div class="site_top_nav">
        <div class="col"><img src="images/u502.png" class="statusImg" />System Status</div>
        <div class="col"><img src="images/u506.png" class="statusImg" />Preview Front-End</div>
        <div class="login"><img src="images/u508.png" class="statusImg" />John Smith(JoSmith) <a href="">Logout</a></div>
   </div>

    <div class="site_header">

          <img src="images/logo.png" class="logo" />

          <div class="site_header_blue"></div>

          <div id="nav-icon1" ng-click="active = !active" ng-class={"open":active}>
            <span></span>
            <span></span>
            <span></span>
          </div>

            <ul class="nav firstLayer" ng-class={'active':active} >
              <li ng-repeat="menu in parentMenuList" ng-controller="ItemController">
                <a ng-click="closeNav();"closeNav href="/#/{{menu.name | lowercase }}">{{menu.name}}</a>
                <ul class="nav" ng-class="{'active':showNestedNav} ">
                  <li ng-repeat="menuChildren in childrenMenuList" ng-if="menuChildren.parentID == menu.id" my-repeat-directive>
                    <a ng-click="closeNav();" href="/#/{{menuChildren.name | lowercase  | removeSpaces}}">{{menuChildren.name}}</a>
                  </li>
                </ul>
                <div class="arrowDown arrow-down" ng-show="hasChildren" ng-click="showNestList(menu.id);"></div>
              </li>
            </ul>

            <div class="searchField">

                <input type="email" name="email" ng-model="user.email" class="form-control textField" required/></input>


                <input type="submit" class="btn btn-default" value="Search Appliations">

            </div>

    </div>

    <div class="hero-unit" >
        <div class="rounded_table" ng-view=""></div>
        <div class="fusion-footer">         
            Single Page Application Powered by AngualrJs, ExpressJs and MySQL| 
             <b>copyright 2016</b>
        </div>    
     </div>

    
    <script src="scripts/libs.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
