body {
  background: #fafafa;
  font-family: arial;
  color: #333;
}
/*
@font-face{
    font-family:"Cervo W01 Regular";
    src:url("../fonts/0737e7d3-280b-4ed6-bb9e-1ca0c5722c38.eot?#iefix");
    src:url("../fonts/0737e7d3-280b-4ed6-bb9e-1ca0c5722c38.eot?#iefix") format("eot"),
        url("../fonts/10e1a3d2-ec7c-4596-a85a-ac85fb635410.woff2") format("woff2"),
        url("../fonts/1d1f3287-48b0-42a5-91bf-eb42fe777620.woff") format("woff"),
        url("../fonts/ddc44530-bb93-49fb-b51c-5ca9ebc5b287.ttf") format("truetype"),
        url("../fonts/38899934-6c43-417b-8972-ccc507007ec0.svg#38899934-6c43-417b-8972-ccc507007ec0") format("svg");
}

@font-face{
    font-family:"Cervo W01 Medium";
    src:url("../fonts/0901b26e-5beb-41b9-ab6b-47dd6078dfc8.eot?#iefix");
    src:url("../fonts/0901b26e-5beb-41b9-ab6b-47dd6078dfc8.eot?#iefix") format("eot"),
        url("../fonts/4a49c9d3-eb5e-4a6a-be64-db23173343e1.woff2") format("woff2"),
        url("../fonts/5577bcf0-20e0-473d-9315-29f3bebf47e1.woff") format("woff"),
        url("../fonts/b4e1ca8b-2223-4b21-8dfe-99e984de1615.ttf") format("truetype"),
        url("../fonts/a0a267c6-00d0-4a4d-8f9d-c46790abc94b.svg#a0a267c6-00d0-4a4d-8f9d-c46790abc94b") format("svg");
}*/

.nav>li>a{
  padding: 0 15px
}

div.hero-unit{
  width: 1200px;
  max-width: 100%;
  margin: 30px auto 0;
}

h1{
  text-transform: uppercase;
  text-align: center;
  color: rgb(0, 71, 121);
  font-family: "Cervo W01 Medium";
  font-size: 35px;
  margin: 15px 0;
}

.expand_text {
    font-size:20px;
    font-family: "Cervo W01 Regular";
    color: rgb(77, 77, 77);
    line-height: 1.2em;
    margin: 0px 0;
}

.site_top_nav{
  width: 100%;
  background: #000000;
  color: #ffffff;
  height: 30px;
}

.site_top_nav .col{
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 0 0 0 34px;
}

.site_top_nav .login{
  float: right;
  margin: 0 34px 0 ;
   height: 30px;
  line-height: 30px;
}

.site_top_nav .login a{
  color: #ffffff;
}

.statusImg{
  height: 13px;
  margin: 0 6px 0 0;
}

ul.nav.firstLayer {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0px 0 0 50px;
  width: 600px;
  float: left;
}

ul.nav ul.nav{
  border-radius: inherit;
  background: #f2f2f2;
  width: 240px;
  display: none;
}

ul.nav ul.nav li a{
    color: #cccccc;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 0 0 10px;
    text-align: left;
}

.site_header{
  width:100%;
  height:60px;
  background-color:#2476A8;
  color:#ffffff;
  -moz-box-shadow:0 0 5px #888;
  -webkit-box-shadow:0 0 5px#888;
  box-shadow:0 0 5px #888;
  position: relative;
}


.searchField{
  width: 500px;
  position: absolute;
  right: 10px;
  top:15px;
}

.searchField input.textField{
  width: 320px;
  margin-right: 10px;
  float: left;
  height: 30px;
}

.searchField .btn{
  float: left;
  color: red;
  height: 30px;
}

.rounded_table {
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    background-color: #fafafa;
}

.logo{
  height: 40px;
  margin: 10px 0 0 20px;
  float: left;
}

.site_content{width:918px;margin:0px auto;clear:both;min-height:600px;}

.site_header .cms_name {
    line-height: 26px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    margin: 40px 10px 0px;
    padding: 0px 10px;
    display: inline-block;
    float: left;
}

.postBody{
    margin-left: 15px; 
    margin-bottom: 25px;
}

.postBody img{
  max-width: 90%;
}

.fusion-footer{
  margin: 25px 0;
}


  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
  }

   .nav > li:hover {
    background-color: #6690ae;
   }

  .nav a {
    display: block;
    border-bottom: 1px solid #888;
    text-align: center;
    transition: .3s background-color;
    font-size: 15px;
    font-family: "Cervo W01 Regular";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
  }

  .nav > li:hover > a,.nav > a:hover {
    color: #ffffff;
    background: #86e2ff;
  }

  .nav > a:hover {
    color: #6690ae;
    background: #fff;
  }

  .nav a.active {
    background-color: #aaa;
    color: #444;
    cursor: default;
  }

  /* Sub Menus */
  .nav li li {
    font-size: .8em;
  }

  .nav li {
    border-bottom: none;
    height: 60px;
    line-height: 60px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: 20px;
    float: left;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    width: inherit;
    margin: 0
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
    height: 30px;
    border-bottom: 1px solid #0168AB;
    width: 100%;
  }

  .nav li ul li:hover {
    height: 30px;
    background-color: #86e2ff;
  }
  


@media screen and (max-width: 768px){

  .nav a{
        width: 92%;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #ffffff;
  }


  ul.firstLayer > li{
    position: relative;
  }
  
  ul.firstLayer > li > .arrowDown{
    content: 'X';
    color: #959595;
    display: block;
    font-size: 1rem;
    font-weight: 100;
    position: absolute;
    right: 7px;
    top: 12px;
  }


  .searchField{
    display: none;
  }  

  .logo{
    margin: 10px 0 0 10px;
  }

  ul.nav.firstLayer{
     display: block;
     max-width: 100%;
     max-height: 0;
     overflow: hidden;
     margin: 0;
     position: absolute;
     top: 70px;
     z-index: 500;
     background: #000000;
     -webkit-transition: max-height 0.5s ease-in-out;
     -moz-transition: max-height 0.5s ease-in-out;
     -o-transition: max-height 0.5s ease-in-out;
     transition: max-height 0.5s ease-in-out;
  }

  ul.nav.firstLayer.active{
     max-height: 500px;
  }

  div.hero-unit,.site_content{
    width: 100%;
    max-width: 420px;
    margin-top: 0
  }
  .site_header .cms_name{
    font-size: 16px;
  }
  ul.nav{
    border-radius: 0;
  }
  .nav li{
    width: 98%;
    height: auto;
    margin-left: 1%;
  }
  ul.firstLayer li > a{
    color: #cccccc;
    padding-left: 10px;
    line-height: 30px;
    text-align: left;
  }
  .nav li{
    border-bottom: 1px solid white;
  }
  ul.nav ul.nav{
    float: left;
    width: 100%;
    position: inherit;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
  }
  ul.nav ul.nav.active{
    max-height: 500px;
  }
  .postBody{
    margin-right: 15px;
  }

  .site_header{
    height: 70px;
  }

  .site_header .cms_name{
    margin:0;
    line-height: 70px;
  }

  .border-menu {
    position: absolute;
    right:20px;
    top: 20px;
    padding-left: 1.25em;
  }
  .border-menu:before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff;
  }

  .box-shadow-menu {
    position: absolute;
    right:24px;
    top: 24px;
    padding-left: 1.25em;
    z-index: 9999;
    width: 20px;
    height: 20px;
  }

  .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1.4em;
    height: 0.25em;
    background: #fff;
    box-shadow: 0 0.4em 0 0 #fff, 0 0.8em 0 0 #fff;
  }


}