<html>
<head>
	<title>Admin Tool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="/scripts/libs.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/styles/admin.css">
</head>
<body>
	
	<div class="site_header">

    		<div class="site_content">

	    		<div class="cms_name">Single Page Application Content Tool</div>

    		</div>

    </div>

	{{{body}}}
	
</body>
</html>