<html>
<head>
	<title></title>
</head>
<body>

    <h1>Register New User here </h1>

	<form method="post" action="/signup">

		<div>
		   <label>Email</label><input type="text" name="email" /></input>
		</div>

		<div>
			<label>Password</label><input type="text" name="password" /></input>
		</div>	

		<div>
			<label>Confirm Password</label><input type="text" name="confirm_password" /></input>
		</div>	

		<input type="submit" val="Login">

		<p>Please email administrator @ <a href="mailto:mawisefeng@gmail.com">mawisefeng@gmail.com</a> for new user request</p>

	</form>
</body>
</html>